include utilities/adminHeader.pug
link(rel='stylesheet', href='/static/css/profileCss/profile.css')
body
    .container(style = "min-height: 442px;")
        .main-body(style="padding-left: 400px;")
            // /Breadcrumb
            .row.gutters-sm

                .col-md-4.mb-3
                    .card(style= "min-width: 300px;")
                        .card-body
                            .d-flex.flex-column.align-items-center.text-center
                                img.rounded-circle(src='https://bootdey.com/img/Content/avatar/avatar7.png', alt='Admin', width='150')
                                .mt-3
                                    h4 #{fullName}
                                    
                                        if gender == "female"
                                            
                                            i.fas.fa-venus(style="color: pink; float: left;") &nspb;
                                        else    
                                            
                                            i.fas.fa-mars(style="color: #0984e3; float: left;") 
                                    
                                    p.text-secondary.mb-1 #{title}
                                    p.text-muted.font-size-sm #{address}
                                    p.text-muted.font-size-sm #{email}
                                    p.text-muted.font-size-sm #{phone}


include utilities/footer.pug